.countdown-timer {
	width: 600px;
	height: 100px;
  margin: 2em auto;
	border: 2px solid black;

	font-family: "Oswald";
	font-size: 30px;

	display: flex;
	align-items: center;
  justify-content: space-evenly;
}

.countdown-timer span {
	margin: 0 auto;
  text-align: center;
}

/* helpers */
.capitalized {
  text-transform: capitalize;
}
